player-connection-mode=Listen
player-connection-guid=3005174920
player-connection-debug=0
player-connection-project-name=EmojiHero
player-connection-ip=192.168.178.21
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d3791e4606cb4ef5a4da47ac82b6e0ac
