.title {
    flex-shrink: 1;
    min-width: 170px;
}

.webcam {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 240px;
    width: 427px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
}
